<%- include("partials/header") %>

<div class="grad-block">
        <h2>M Y P L A N T</h2>
        <small>Water your plant — which is your body — with the healthy nutrients it needs.</small>
    </div>

<div class="credentials-choice">
    <a class="btn btn-success" href="/login"> Log In </a>
    <a class="btn btn-light" href="/register"> Register </a>
</div>

<%- include("partials/footer") %>