<%- include("partials/header") %>
<%- include("logo-title") %>

<div class="mt-5">
    <h2 class="solo-title mb-3">L O G I N</h2>
    <form action="/login" method="POST">
        <input class="mb-2" name="username" placeholder="Username" required> <br />
        <input type="password" name="password" placeholder="Password" required> <br /><br />
        <button class="btn btn-success" type="submit"> Log In </button>
    </form>
</div>

<%- include("partials/footer") %> 

