<div class="mt-3">
    <a class="float-right mr-3 custom-link logout" href="/logout"><small>LOGOUT</small></a>
    <a href="/"><img src="images/plant.png" height="25"></a><small> M Y P L A N T</small>
</div>