<%- include("partials/header") %>
<%- include("logo-title") %>

<div class="mt-5">
    <h2 class="solo-title mb-3"> R E G I S T E R</h2>
    <form action="/register" method="POST">
        <input class="mb-2" name="username" placeholder="Username" value="<%= regNameDefault %>" required> <br>
        <input class="mb-2" name="password" type="password" placeholder="Password" required> <br>
        <input type="email" name="email" placeholder="Email"> <br><br>
        <button class="btn btn-success" type="submit"> Register </button>
    </form>
    <br><small>Already have an account? <a href="/login">Log in</a></small>
</div>

<%- include("partials/footer") %> 